* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(myBanner.jpeg);
}

header {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
}

.questions {
    text-align: center;
    width: auto
    /* height: 570px; */
    border-style: solid transparent;
    border-width: 5px;
    margin: 25px;
    /* color: white; */
}

summary {
    padding: 5px;
    background-color: rgba(144, 21, 160, 0.3);
    border-style: solid;
    border-width: 5px 10px;
    color: white;
}

p {
    background-color: rgba(3, 3, 3, 0.3);
    width: 100%;
    color: white;
}